<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h2>Edit user</h2>

<form th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="text" th:field="*{name}" required>
    <input type="text" th:field="*{surname}" required>
    <input type="email" th:field="*{email}" required>

    <button type="submit">Update</button>
</form>

<br>

<a th:href="@{/users}">Back to users</a>

</body>
</html>
